/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Corpo */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
  }
  
  /* Cabeçalho */
  .header {
    background: #555;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .header h1 {
    font-size: 2.5em;
  }
  
  .nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .nav ul li {
    margin: 0 15px;
  }
  
  .nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .nav ul li a:hover {
    text-decoration: underline;
  }
  
  /* Seções */
  section {
    padding: 20px;
    margin: 20px 0;
  }
  
  .intro {
    background-color: #e2e2e2;
    padding: 20px;
  }
  
  .destaque {
    text-align: center;
  }
  
  .image-grid img {
    width: 100%;
    max-width: 300px;
    margin: 10px;
    border-radius: 10px;
  }
  
  /* Listas */
  ul {
    margin: 20px 0;
  }
  
  ul li {
    margin: 10px 0;
  }
  
  /* Formulário de Contato */
  form {
    display: flex;
    flex-direction: column;
  }
  
  form input, form textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  form button {
    background: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  form button:hover {
    background: #555;
  }
  
  /* Galeria */
  .galeria-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .galeria-grid img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
  }
  
  /* Rodapé */
  .footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
  }
  
  .footer p {
    margin: 0;
  }
  